/* Definição de fontes */
@font-face {
    font-family: "unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") 
    format("truetype");
    font-weight: 700;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf") 
    format("truetype");
    font-weight: 400;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}    

/* Reset */
*{
    margin: 0;
    padding: 0;

}
/* Estilo Desktop */
body{
    background-color: #0E1014;
    color: #FFFF;
}

header{
    display: block;
    margin: 20px 0 0 360px;
}

h1{
    font-size: 64px; 
    font-family:"unbounded", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

p{
    font-size: 24px;
    font-family: "poppins", sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

h1 span{
    color: #9747FF;
}

a{
    color:#FFFF;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
   /* margin-top: 100px;
    margin-right: 790px;
    margin-bottom: 10px;
    margin-left: 790px; */
   margin: 40px auto;
}

a:hover{
    background-color: #8233e8;
}
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media (max-width:768px) {
@media (max-width:768px) {
    header{
        margin: 65px 0 0 32px; /* Margem superior, direita, inferior e esquerda */
    }

    p{
        width: 90%;
    }

    a{
        width: 90%;
        
    }

    section img{
        width: 90%;
        height: auto;

    }
}

@media(max-width: 375px){
    header{
        margin: 32px 0 0 16px; /* Margem superior, direita, inferior e esquerda */
    }
    
    h1{
        font-size: 40px;
        font-size: 40px;
    }
    
    p{
        font-size: 20px;
        width: 100%;
        width: 100%;
    }
    
    a{
        font-size: 20px;
        width: 251px;
      
    }

    section img{
        width: 100%;
        height: auto;
        width: 100%;
        height: auto;
        
    }


    
}




